


html, body {
   background-color:whitesmoke;
   font-size: 12px;
   color: gray;
   font-family: 'Veranda', sans-serif;
   padding: 10px;

}
.container {
  text-align: center;
  width: 100%;
  height: 70%;
  display: inline-block;
  padding: 20;
}
.col-3 {
  width:25%;
  padding: 10px;
  float: left;
  border-right: black;
}

.title {
  text-align: center
}
.link {
  font-size: 15px;
  text-align: center;
  padding:10px;
}

.chartArea {
  float: left;
  width: 65%;
  padding-left: 6em;

}
